<div class="container">
    <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-9">
            <h4>{{ title }}</h4>
        </div>
        <div class="col-12 col-sm-12 col-md-3 text-right">
            <a class="btn btn-primary btn-sm" href="/questions/create" role="button"><span class="fa fa-plus"></span> Savol berish</a>
        </div>
    </div>
</div>