{% extends "site/layouts/layout.html.twig" %}

{% block body %}   
    <div class="container pt-5">
        <div class="col-12 col-sm-9 col-md-6 col-lg-5 box-admin py-3 mx-auto my-auto">
          <div class="col-12 pb-3 mb-4 text-center" style="border-bottom: solid 1px; border-color: #eeeeee;">
            <div class="text-center">
              <span class="text-topics h5">Ro'yhatdan o'tish</span>
            </div>
          </div>
          <div class="col-12">
            <div class="alert alert-danger ft-sc" role="alert">
              Email raqami ko'rsatilmadi
            </div>
            <form>
            <div class="form-group">
              <label>Email:</label>
              <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Parol:</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Parol">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Parolni tasdiqlash:</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Parol">
            </div>
            <a class="btn btn-primary btn-block btn-circle" href="index.html">R'yhatdan o'tish</a><br>
            <span class="text-secondary text-center d-block ft-th">yoki ijtimoiy tarmoqlar orqali ro'yhatdan o'tish:</span>
            <div class="text-center mt-3">
            <a class="btn btn-primary btn-circle btn-sm" href="index.html"><span class="fa fa-facebook-official"></span> facebook</a>
            <a class="btn btn-danger btn-circle btn-sm" href="index.html"><span class="fa fa-google-plus"></span> google</a>
          </div>
          </form>
          <div class="text-center mt-3">
            <!-- <a class="d-block ft-sc mb-1" href="#">Login yoki parolingizni unutdingizmi?</a> -->
            <span class="text-topics ft-th">Akkauntingiz bormi? </span> <a class="ft-th" href="/login">Kiring</a>
          </div>
          </div>
        </div>
    </div>
    <!-- End Content -->
{% endblock %}